Repository 50ra4/hit-and-blow-game: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

feat: [ISSUE 65] デイリー履歴をカレンダーグリッド表示に変更
  src/features/stats/StatsPanel/StatsPanel.tsx
Due: prettier --write, eslint --fix --cache

fix: [ISSUE 65] カレンダーを日曜始まりの週揃えに変更し日付を表示
  src/features/stats/StatsPanel/StatsPanel.tsx
Due: prettier --write, eslint --fix --cache

add: .claude/skills/issue-impl/SKILL.md
  .claude/skills/issue-impl/SKILL.md
Due: prettier --write

update: .claude/skills/issue-impl/SKILL.md
  .claude/skills/issue-impl/SKILL.md
Due: prettier --write

[ISSUE 74] 推測履歴セクションにタイトルを追加
  src/features/game/GuessHistory/GuessHistory.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
Due: prettier --write, eslint --fix --cache

fix: margins
  src/features/game/GuessHistory/GuessHistory.tsx
Due: prettier --write, eslint --fix --cache

fix: [ISSUE 73] モーダル表示時のスライドインアニメーションを追加
  src/components/Modal/Modal.tsx
  src/styles/index.css
Due: prettier --write, eslint --fix --cache

docs: [ISSUE 73] 実装計画ファイルを追加
  .claude/plans/issue-73-modal-slide-in-animation.md
Due: prettier --write

[ISSUE 110] サウンド設定のトグルボタンをButton コンポーネントに変更
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/layouts/AppLayout/AppLayout.tsx
Due: prettier --write, eslint --fix --cache

chore: update CLAUDE.md
  CLAUDE.md
Due: prettier --write

refactor: CLAUDE.mdをスリム化し、コーディング規約を.claude/rules/に分割
  .claude/rules/git-commit.md
  .claude/rules/i18n.md
  .claude/rules/react.md
  .claude/rules/response-style.md
  .claude/rules/tailwind.md
  .claude/rules/testing.md
  .claude/rules/typescript.md
  .claude/rules/work-rules.md
  .claude/skills/coding-conventions/SKILL.md
  .claude/skills/issue-impl/SKILL.md
  CLAUDE.md
Due: prettier --write

fix: ルールファイルのfrontmatter属性をglobsからpathsに修正
  .claude/rules/i18n.md
  .claude/rules/react.md
  .claude/rules/tailwind.md
  .claude/rules/testing.md
  .claude/rules/typescript.md
Due: prettier --write

refactor: issue-implを計画と実装の2スキルに分割
  .claude/skills/issue-impl/SKILL.md
  .claude/skills/issue-plan/SKILL.md
Due: prettier --write

fix: pre-commitフックに実行権限を付与
  .husky/pre-commit
Due: none

docs: [ISSUE 78] 実装計画を作成
  .claude/plans/issue-78-settings-modal-legal-links.md
Due: prettier --write

feat: [ISSUE 78] 設定モーダルに利用規約・プライバシーポリシーリンクを追加
  src/layouts/AppLayout/AppLayout.tsx
Due: prettier --write, eslint --fix --cache

add: [ISSUE 116] 実装計画ファイル追加
  .claude/plans/issue-116-input-slot-responsive.md
Due: prettier --write

feat: [ISSUE 116] 入力スロット・タイルパレット・結果表示をレスポンシブ化
  src/features/game/GameInputArea/GameInputArea.tsx
  src/features/game/ResultDisplay/ResultDisplay.tsx
  src/features/game/TilePicker/TilePicker.tsx
Due: prettier --write, eslint --fix --cache

style: [ISSUE 116] 縮小サイズ時の角丸をレスポンシブ化
  src/features/game/GameInputArea/GameInputArea.tsx
  src/features/game/ResultDisplay/ResultDisplay.tsx
  src/features/game/TilePicker/TilePicker.tsx
Due: prettier --write, eslint --fix --cache

fix: [ISSUE 116] タイルが左に偏っているのを修正
  src/features/game/TilePicker/TilePicker.tsx
Due: prettier --write, eslint --fix --cache

feat: [ISSUE 115] GameInfoPanel にルール確認「?」ボタンとModalを追加
  src/features/game/GameInfoPanel/GameInfoPanel.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
Due: prettier --write, eslint --fix --cache

chore: fix path
  .claude/skills/issue-impl/SKILL.md
  .claude/skills/issue-plan/SKILL.md
Due: prettier --write

refactor: [ISSUE 115] ルール確認「?」ボタンを GuessHistory ヘッダーに移動
  src/features/game/GameBoard/GameBoard.tsx
  src/features/game/GameInfoPanel/GameInfoPanel.tsx
  src/features/game/GuessHistory/GuessHistory.tsx
  src/features/game/ResultDisplay/ResultDisplay.tsx
  src/pages/DailyGamePage/DailyGamePage.tsx
  src/pages/FreeGamePage/FreeGamePage.tsx
  src/pages/TutorialPage/TutorialPage.tsx
Due: prettier --write, eslint --fix --cache

fix: [ISSUE 123] 統計画面のラベルを「推測回数」に修正し、全体統計から最短推測回数カードを削除
  src/features/stats/StatsPanel/StatsPanel.tsx
  src/i18n/locales/ja.json
  src/pages/PrivacyPage/PrivacyPage.tsx
Due: prettier --write, eslint --fix --cache

feat: [ISSUE 123] モード別統計に最短推測回数を追加
  src/features/stats/StatsPanel/StatsPanel.tsx
Due: prettier --write, eslint --fix --cache

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,css,html})
  eslint --fix --cache: any of: *.{ts,tsx}
