Repository 50ra4/hit-and-blow-game: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,css,html}": ["prettier --write"]
}

style: 配列型定義をArray<T>から[]記法に統一
  src/layouts/AppLayout/AppLayout.tsx
Due: prettier --write, eslint --fix --cache

docs: 配列型はArray<T>でなく[]記法を使う規約を追加
  .claude/skills/coding-conventions/SKILL.md
Due: prettier --write

refactor: BrowserRouterをcreateBrowserRouterに移行
  src/AppRouter.tsx
Due: prettier --write, eslint --fix --cache

fix: ホームページにデイリーチャレンジのプレイ済み状態を反映
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/pages/HomePage/HomePage.tsx
Due: prettier --write, eslint --fix --cache

fix: 未解放モードカードにロックアイコンを追加
  src/pages/HomePage/HomePage.tsx
Due: prettier --write, eslint --fix --cache

fix: ゲームページの戻るボタンに中断確認ダイアログを追加
  src/features/game/GameHeader/GameHeader.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/pages/DailyGamePage/DailyGamePage.tsx
  src/pages/FreeGamePage/FreeGamePage.tsx
Due: prettier --write, eslint --fix --cache

fix: 統計データがない場合のempty stateを追加
  src/features/stats/StatsPanel/StatsPanel.tsx
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
Due: prettier --write, eslint --fix --cache

fix(deploy): VITE_BASE_URL を CI ビルド環境変数に追加
  .github/workflows/deploy.yml
Due: none

fix(routing): 404.html のリダイレクト先を正しいパスに修正
  public/404.html
Due: prettier --write

refactor(routing): 404.html のベースURLをプレースホルダーに置き換え
  public/404.html
Due: prettier --write

refactor(deploy): VITE_BASE_URL を vars から参照し 404.html のプレースホルダーを置換
  .github/workflows/deploy.yml
Due: none

refactor(deploy): vars を secrets に変更し、プレースホルダー置換にコメントを追加
  .github/workflows/deploy.yml
  public/404.html
Due: prettier --write

update: CLAUDE.md
  CLAUDE.md
Due: prettier --write

feat: シェア機能を実装（T-019）
  src/features/game/ResultDisplay/ResultDisplay.tsx
  src/features/share/ShareButton/ShareButton.tsx
  src/features/share/share.schema.ts
  src/features/share/shareHelper.ts
  src/features/share/useFallbackShare.ts
  src/features/share/useShare.ts
Due: prettier --write, eslint --fix --cache

feat: 広告バナー機能を実装（T-020）
  index.html
  src/features/ad/AdBanner/AdBanner.tsx
  src/features/game/ResultDisplay/ResultDisplay.tsx
  src/vite-env.d.ts
Due: prettier --write, eslint --fix --cache

feat: LINE LIFF 連携を実装（T-021）
  package.json
  pnpm-lock.yaml
  src/features/share/ShareButton/ShareButton.tsx
  src/services/liff/useLiff.ts
Due: prettier --write, eslint --fix --cache

docs: Phase 6 実装計画を追加
  .claude/plans/phase6-external-integrations.md
Due: prettier --write

refactor: useCallback でメモ化し、冗長な戻り値型定義を削除
  src/features/share/useFallbackShare.ts
Due: prettier --write, eslint --fix --cache

refactor: useSyncExternalStore パターンに変更し @line/liff をダイナミックインポートに切り替え
  src/services/liff/liffStore.ts
  src/services/liff/useLiff.ts
Due: prettier --write, eslint --fix --cache

fix: 敗北時もシェアボタンを表示する
  src/features/game/ResultDisplay/ResultDisplay.tsx
Due: prettier --write, eslint --fix --cache

style: インラインスタイルを Tailwind クラスに置き換え
  src/features/ad/AdBanner/AdBanner.tsx
Due: prettier --write, eslint --fix --cache

refactor: show prop を削除し呼び出し元で条件付きレンダーに変更
  .claude/skills/coding-conventions/SKILL.md
  src/features/ad/AdBanner/AdBanner.tsx
  src/features/game/ResultDisplay/ResultDisplay.tsx
Due: prettier --write, eslint --fix --cache

add: .claude/plans/phase7-assets-deploy.md
  .claude/plans/phase7-assets-deploy.md
Due: prettier --write

feat: add 8 SVG tile assets
  public/assets/tiles/circle.svg
  public/assets/tiles/club.svg
  public/assets/tiles/diamond.svg
  public/assets/tiles/heart.svg
  public/assets/tiles/spade.svg
  public/assets/tiles/square.svg
  public/assets/tiles/star.svg
  public/assets/tiles/triangle.svg
Due: none

feat: add manifest.json and robots.txt
  public/manifest.json
  public/robots.txt
Due: prettier --write

feat: add OGP and PWA meta tags to index.html
  index.html
Due: prettier --write

feat: add PWA icon placeholders (192x192, 512x512)
  public/icons/icon-192.png
  public/icons/icon-512.png
Due: none

refactor: SVGタイルをReactコンポーネント（TileIcon）に移行
  public/assets/tiles/circle.svg
  public/assets/tiles/club.svg
  public/assets/tiles/diamond.svg
  public/assets/tiles/heart.svg
  public/assets/tiles/spade.svg
  public/assets/tiles/square.svg
  public/assets/tiles/star.svg
  public/assets/tiles/triangle.svg
  src/components/TileIcon/TileIcon.tsx
  src/consts/tiles.ts
  src/features/game/GameBoard/GameBoard.tsx
  src/features/game/GuessHistory/GuessHistory.tsx
  src/features/game/ResultDisplay/ResultDisplay.tsx
  src/features/game/TilePicker/TilePicker.tsx
  src/features/game/game.schema.ts
  src/features/game/tileDisplay.ts
  src/pages/TutorialPage/TutorialPage.tsx
Due: prettier --write, eslint --fix --cache

add: デザインの相違点の調査結果を追加
  .claude/plans/design-fix-todo.md
  .claude/plans/design-gap-analysis.md
Due: prettier --write

refactor: CircularProgressのインラインスタイルをTailwind/CSSクラスに置換
  src/features/game/CircularProgress/CircularProgress.tsx
  src/features/game/GameInfoPanel/GameInfoPanel.tsx
  src/styles/index.css
Due: prettier --write, eslint --fix --cache

feat: DailyGamePageにGameInfoPanelを追加
  src/pages/DailyGamePage/DailyGamePage.tsx
Due: prettier --write, eslint --fix --cache

feat: FreeGamePageにGameInfoPanelを追加
  src/pages/FreeGamePage/FreeGamePage.tsx
Due: prettier --write, eslint --fix --cache

feat: CircularProgressコンポーネントを新規作成
  src/features/game/CircularProgress/CircularProgress.tsx
Due: prettier --write, eslint --fix --cache

fix: iPhone SE(375px)でのGameInfoPanel折り返し問題を修正
  src/features/game/GameInfoPanel/GameInfoPanel.tsx
  src/pages/DailyGamePage/DailyGamePage.tsx
  src/pages/FreeGamePage/FreeGamePage.tsx
Due: prettier --write, eslint --fix --cache

feat: CircularProgress用のi18nキーを追加し、未使用のgame.attemptsを削除
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
Due: prettier --write

fix: CircularProgress のサイズを調整
  src/features/game/GameInfoPanel/GameInfoPanel.tsx
Due: prettier --write, eslint --fix --cache

fix: GameInfoPanelを1行のflex横並びレイアウトに変更
  src/features/game/GameInfoPanel/GameInfoPanel.tsx
Due: prettier --write, eslint --fix --cache

fix: CircularProgressのSIZEを90に修正
  src/features/game/CircularProgress/CircularProgress.tsx
Due: prettier --write, eslint --fix --cache

fix: GameInfoPanel のフォントサイズを調整
  src/features/game/GameInfoPanel/GameInfoPanel.tsx
Due: prettier --write, eslint --fix --cache

feat: GameInfoPanelコンポーネントを新規作成
  src/features/game/GameInfoPanel/GameInfoPanel.tsx
Due: prettier --write, eslint --fix --cache
